body {
  width: 100%;
  min-width: 1262px;  background:#f5f5f5;
} 
.logo{
	width:980px; height:86px; margin:31px auto;
	span{
		float:left;  width: 300px;
		    height: 88px; background:url(../img/slide_logo.png) no-repeat 0px 0;
		a{
			display:block; width:100%; height:100%;
		}

	}
	i{
		font-size:18px; padding:36px 0 0 10px; float:left;
	}
}
.register{
	width:828px; height:274px; padding:40px 75px; margin:0 auto; background:#fff;
		p{
			color:#009100; font-size:20px;
			i{
				background:url(../img/login.3.1.png) no-repeat -78px -21px; float:left;
				width:29px; height:40px; margin-bottom:11px;
			}
		}
		.shop{
			display:block; width:120px; line-height:35px; border: 1px solid #ddd; text-align:center;
			height:35px; margin-top:30px; font-size:16px; border-radius:5px; color:#666;
		}
		.text1{
			float:left; line-height:48px; height:48px; margin-top:7px;
			a{
				color:#08c;
			}
		}
		.email{
			width:754px; height:100px; border:1px solid #d0e4c2; float:left; padding:13px 36px;
			span{
				color:#f60; font-size:18px; line-height:40px; display:block; margin-bottom:10px;
				b{
					font-size:22px;
				}
			}
			input{
				width:283px; height:34px;
			}
			a{
				display:inline-block; width:150px; height:34px; line-height:34px; text-align:center;
				border:1px solid #666; border-radius:5px; color:#666; background:url(../img/login.3.1.png) 0 -120px;
				margin-left:10px;
			}
		}
}
.register-footer{
	width:980px; height:80px; line-height:80px;margin:30px auto; text-align:center;
}