#shoes { width: 1262px; height: 450px; background: #E9E9E9; margin-top: 10px; }

#shoes h3 { height: 80px; width: 100%; margin: 0 auto; font-size: 25px; color: #714A1F; line-height: 80px; }

#shoes .shoes_same { height: 450px; margin-right: 10px; }

#shoes .shoes5 { margin-right: 0; }

table { width: 100%; border: 2px solid #c7012c; }

table tr { border: 1px solid #ccc; }

table th { text-align: center; }

table thead { width: 100%; height: 35px; }

table thead .tr_fis { border: 0; }

table thead .tr_fis th { line-height: 35px; height: 35px; border: 0; border-top: 2px solid #C6C6C6; background: #eee; text-align: center; }

table thead .tr_fis .checkall { width: 60px; border: 1px solid #ddd; height: 35px; line-height: 35px; border-top: none; }

table thead .tr_fis .col_img { width: 206px; padding: 0 15px; float: left; text-align: center; font-size: 14px; color: #666; }

table thead .tr_fis .col_name { width: 353px; float: left; text-align: center; }

table thead .tr_fis .col_qty { width: 160px; text-align: center; float: left; }

table thead .tr_fis .col_price { width: 140px; text-align: center; float: left; }

table thead .tr_fis .col_total { width: 140px; text-align: center; float: left; }

table thead .tr_fis .col_op { float: left; width: 60px; text-align: center; }
